/*main_pc.css*/
@media screen and (min-width:769px) and (max-width:1024px) {

.banner {height: 470px; height: 29.375rem;}

.maintext {width: 340px; /*width: 44.270833vw;*/ height: 164px; height: 21.354166vw; margin-left: -300px; margin-left: -39.0625vw; top:30%;}
.maintext > h3 {font-size: 1.6rem;}
.middle_wrap {width: 80%; height: 430px; height: 26.875rem; padding-top: 3rem; box-sizing: border-box;}
.grow_mini {height: 470px; height: 29.375rem;}
#ryanImage {width: 55%; margin-right: 5%; height: 360px;}
#growText {width: 40%;}
#growText > h3 {font-size: 1.6rem;}
#growText > p {font-size: 1.2rem;}



 }

@media screen and (min-width:1025px) and (max-width:1366px) {

.middle_wrap {padding: 2rem; box-sizing: border-box;}
#ryanImage {width: 55%; margin-right: 5%;}
#growText {width: 40%;  margin-top: 130px; margin-top: 12rem;}
#growText > p {font-size: 1.2rem;}

 }

 @media screen and (min-width:1367px) {

.middle_wrap {padding: 2rem; box-sizing: border-box; width: 1100px;}
#ryanImage {margin-right: 0;}
.little {margin-top: 28%;}
#growText {width: 40%;}
#growText > p {font-size: 1.4rem;}

 }