/*kakaomini03_pc.css*/
@media screen and (min-width:769px) and (max-width:1024px) {

#tipBox {padding-top: 60px;}
#textBanner_area { width: 100%; height: 240px;}
.textBN { width: 80%; height: 60%; top: 20%; margin-left: 10%; left: 0;}
.textBN > span { font-size: 2rem; line-height:144px; }
#howtoUse h3 {font-size: 2rem;}
#howtoUse p {font-size: 1.5rem;}
#downloadApp h3 {font-size: 2rem; margin-bottom: 4rem;}
#downloadApp p {font-size: 1.2rem;}



}
@media screen and (min-width:1025px) and (max-width:1366px) {




  
}